In [2]:
import pandas as pd

# CSV

In [3]:
pd.read_csv('sources/bestsellers-with-categories.csv')

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [4]:
pd.read_csv('sources/bestsellers-with-categories.csv', sep = ',', header = 0, names = ["Nombre", 'Autor','Ranking', 'Reviews', 'Precio', 'Año', 'Genero'])
#read_csv(route, sep = "separeted value", header = "Header position", names = ['Manually name columns'])

,Nombre,Autor,Ranking,Reviews,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

# JSON

In [5]:
pd.read_json('sources/hpcharactersdataraw.json')

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

In [6]:
pd.read_json('sources/hpcharactersdataraw.json', typ = 'Series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

# OTHERS

In [13]:
#HTML
mr = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_homicide_rate')

In [18]:
mr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            50 non-null     int64
 1   City                            50 non-null     object
 2   Country                         50 non-null     object
 3   Homicides (2019)                50 non-null     int64
 4   Population (2019)               50 non-null     int64
 5   Homicides per 100,000 per year  50 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.5+ KB

In [17]:
mr[0][0:25]
#mr[Select a table][Slicing]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
0,1,Tijuana,Mexico,2367,1763197,134.24
1,2,Juárez,Mexico,1522,1455923,104.54
2,3,Uruapan,Mexico,301,351823,85.54
3,4,Irapuato,Mexico,723,895515,80.74
4,5,Obregón,Mexico,281,348154,80.72
5,6,Caracas,Venezuela,2134,2858933,74.65
6,7,Acapulco,Mexico,600,837914,71.61
7,8,Cape Town,South Africa,3065,4488545,68.28
8,9,St. Louis,United States,194,300576,64.54
9,10,Vitória da Conquista,Brazil,205,341597,60.01
10,11,Baltimore,United States,348,593490,58.64
11,12,Ciudad Guayana,Venezuela,462,799255,57.80
12,13,Kingston,Jamaica,680,1180771,57.59
13,14,Feira de Santana,Brazil,349,614872,56.76
14,15,San Pedro Sula,Honduras,436,789645,55.21
15,16,San Juan,United States,172,318441,54.01
16,17,Ensenada,Mexico,275,527584,52.12
17,18,Ciudad Bolívar,Venezuela,189,370627,51.01
18,19,Cuernavaca,Mexico,470,923274,50.91
19,20,Celaya,Mexico,262,526166,49.87
20,21,Culiacan,Mexico,472,955340,49.41
21,22,Natal,Brazil,645,1334817,48.32
22,23,"Salvador, Bahia",Brazil,1657,3490792,47.47
23,24,Nelson Mandela Bay (Port Elizabeth),South Africa,553,1207485,45.80
24,25,Cancún,Mexico,376,825647,45.54

# Testing

In [8]:
data_frame = pd.read_csv('sources/IMDB-Movie-Data.csv')

In [9]:
type(data_frame)

pandas.core.frame.DataFrame

In [10]:
data_frame.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [11]:
data_frame.index

RangeIndex(start=0, stop=1000, step=1)

In [12]:
pd.DataFrame(data_frame, range(0, 100))

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,The Nice Guys,"Action,Comedy,Crime","In 1970s Los Angeles, a mismatched pair of pri...",Shane Black,"Russell Crowe, Ryan Gosling, Angourie Rice, Ma...",2016,116,7.4,175067,36.25,70.0
96,97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110,4.68,79.0
97,98,The Void,"Horror,Mystery,Sci-Fi",Shortly after delivering a patient to an under...,Jeremy Gillespie,"Aaron Poole, Kenneth Welsh,Daniel Fathers, Kat...",2016,90,5.8,9247,0.15,62.0
98,99,Personal Shopper,"Drama,Mystery,Thriller",A personal shopper in Paris refuses to leave t...,Olivier Assayas,"Kristen Stewart, Lars Eidinger, Sigrid Bouaziz...",2016,105,6.3,10181,1.29,77.0
99,100,The Departed,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0