In [1]:
import pandas as pd
import numpy as np

In [3]:
mr = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_homicide_rate')
top_homicide = mr[0].copy()
top_homicide.iloc[:10]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
0,1,Tijuana,Mexico,2367,1763197,134.24
1,2,Juárez,Mexico,1522,1455923,104.54
2,3,Uruapan,Mexico,301,351823,85.54
3,4,Irapuato,Mexico,723,895515,80.74
4,5,Obregón,Mexico,281,348154,80.72
5,6,Caracas,Venezuela,2134,2858933,74.65
6,7,Acapulco,Mexico,600,837914,71.61
7,8,Cape Town,South Africa,3065,4488545,68.28
8,9,St. Louis,United States,194,300576,64.54
9,10,Vitória da Conquista,Brazil,205,341597,60.01

In [10]:
colombia = top_homicide['Country'] == 'Colombia'

In [13]:
top_homicide[colombia]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
25,26,Cali,Colombia,1176,2599468,45.24
36,37,Palmira,Colombia,124,312507,39.68
43,44,Cúcuta,Colombia,303,852014,35.56

In [15]:
top_homicide[top_homicide['Homicides (2019)'] > 1000]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
0,1,Tijuana,Mexico,2367,1763197,134.24
1,2,Juárez,Mexico,1522,1455923,104.54
5,6,Caracas,Venezuela,2134,2858933,74.65
7,8,Cape Town,South Africa,3065,4488545,68.28
22,23,"Salvador, Bahia",Brazil,1657,3490792,47.47
25,26,Cali,Colombia,1176,2599468,45.24
28,29,Guatemala City,Guatemala,1420,3265546,43.48
34,35,Durban,South Africa,1577,3890001,40.54
39,40,Guadalajara,Mexico,1932,5073583,38.07
41,42,Johannesburg,South Africa,2078,5738536,36.21
44,45,Recife,Brazil,1422,3999817,35.55
48,49,Fortaleza,Brazil,1365,3959923,34.47

In [39]:
homicides = top_homicide['Homicides (2019)'] > 1000
top_homicide[homicides & colombia]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
25,26,Cali,Colombia,1176,2599468,45.24

In [40]:
top_homicide[~homicides & colombia]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
36,37,Palmira,Colombia,124,312507,39.68
43,44,Cúcuta,Colombia,303,852014,35.56

In [41]:
top_homicide[~homicides & ~colombia]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
2,3,Uruapan,Mexico,301,351823,85.54
3,4,Irapuato,Mexico,723,895515,80.74
4,5,Obregón,Mexico,281,348154,80.72
6,7,Acapulco,Mexico,600,837914,71.61
8,9,St. Louis,United States,194,300576,64.54
9,10,Vitória da Conquista,Brazil,205,341597,60.01
10,11,Baltimore,United States,348,593490,58.64
11,12,Ciudad Guayana,Venezuela,462,799255,57.80
12,13,Kingston,Jamaica,680,1180771,57.59
13,14,Feira de Santana,Brazil,349,614872,56.76
14,15,San Pedro Sula,Honduras,436,789645,55.21
15,16,San Juan,United States,172,318441,54.01
16,17,Ensenada,Mexico,275,527584,52.12
17,18,Ciudad Bolívar,Venezuela,189,370627,51.01
18,19,Cuernavaca,Mexico,470,923274,50.91
19,20,Celaya,Mexico,262,526166,49.87
20,21,Culiacan,Mexico,472,955340,49.41
21,22,Natal,Brazil,645,1334817,48.32
23,24,Nelson Mandela Bay (Port Elizabeth),South Africa,553,1207485,45.80
24,25,Cancún,Mexico,376,825647,45.54
26,27,Rio Branco,Brazil,183,407319,44.93
27,28,Caruaru,Brazil,160,361118,44.31
29,30,Zacatecas,Mexico,151,351397,42.95
30,31,Barquisimeto,Venezuela,489,1161709,42.11
31,32,Chihuahua,Mexico,391,937233,41.70
32,33,Distrito Central (Tegucigalpa),Honduras,516,1259646,40.96
33,34,Detroit,United States,273,670031,40.74
35,36,Manaus,Brazil,878,2182763,40.22
37,38,Morelia,Mexico,325,819361,39.65
38,39,Ciudad Victoria,Mexico,139,363577,38.27
40,41,Reynosa,Mexico,248,679229,36.57
42,43,Minatitlán,Mexico,132,369213,35.75
45,46,Valencia,Venezuela,486,1371267,35.41
46,47,León,Mexico,697,1987335,35.07
47,48,Maturin,Venezuela,184,526243,34.98
49,50,Maceió,Brazil,347,1018948,34.05

In [45]:
top_homicide[top_homicide['City'].str.contains('ca')]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
5,6,Caracas,Venezuela,2134,2858933,74.65
6,7,Acapulco,Mexico,600,837914,71.61
18,19,Cuernavaca,Mexico,470,923274,50.91
20,21,Culiacan,Mexico,472,955340,49.41
29,30,Zacatecas,Mexico,151,351397,42.95

In [47]:
top_homicide[(top_homicide['Homicides (2019)'] > 1000) & (top_homicide['Population (2019)'] > 1_000_000)]

,Rank,City,Country,Homicides (2019),Population (2019),"Homicides per 100,000 per year"
0,1,Tijuana,Mexico,2367,1763197,134.24
1,2,Juárez,Mexico,1522,1455923,104.54
5,6,Caracas,Venezuela,2134,2858933,74.65
7,8,Cape Town,South Africa,3065,4488545,68.28
22,23,"Salvador, Bahia",Brazil,1657,3490792,47.47
25,26,Cali,Colombia,1176,2599468,45.24
28,29,Guatemala City,Guatemala,1420,3265546,43.48
34,35,Durban,South Africa,1577,3890001,40.54
39,40,Guadalajara,Mexico,1932,5073583,38.07
41,42,Johannesburg,South Africa,2078,5738536,36.21
44,45,Recife,Brazil,1422,3999817,35.55
48,49,Fortaleza,Brazil,1365,3959923,34.47